http_proxy="http://{{ proxy_hostname }}:{{ proxy_port }}/"
https_proxy="http://{{ proxy_hostname }}:{{ proxy_port }}/"
ftp_proxy="http://{{ proxy_hostname }}:{{ proxy_port }}/"
no_proxy="localhost,127.0.0.1,localaddress,.localdomain.com"
HTTP_PROXY="http://{{ proxy_hostname }}:{{ proxy_port }}/"
HTTPS_PROXY="http://{{ proxy_hostname }}:{{ proxy_port }}/"
FTP_PROXY="http://{{ proxy_hostname }}:{{ proxy_port }}/"
NO_PROXY="localhost,127.0.0.1,localaddress,.localdomain.com"
